@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
@import url('http://fonts.cdnfonts.com/css/nimbus-sans-d-ot?styles=15727');



.contentHolder{
    background-color: rgb(15, 255, 243);
    width: 100%;
    height: auto;
    margin-left: 0%;
}


.LogoHeader{
    /*background-color: aqua;*/
    font-family: 'Nimbus Sans D OT', sans-serif;
    font-weight: lighter;                   
    width: 100%;
    height:100px;
    display:flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 100px;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
}

.SubHeader{
    /*background-color: red;*/
    height:140px;
    display: flex;
    justify-content: center;
    font-family: 'Nimbus Sans D OT', sans-serif;
    font-size: 30px;
    font-weight: 100;  
    color: rgb(255, 255, 255);
    margin-top:50px;
    letter-spacing: 3px;
}

.LoginTitle{
    /*background-color: red;*/
    height:50px;
    display:flex;
    justify-content: center;
    font-family: 'Nimbus Sans D OT', sans-serif;
    font-size:40px;
    color: rgb(255, 255, 255);
}

.FormDesign{
    height:500px;
    /*background:red;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.InputHolder{
    height: 500px;
    /*background:turquoise;*/
    width:60%;
    display: flex;
    flex-direction: column;
}

.UsernameField{
    height:100px;
    font-size: 20px;
}

.PasswordField{
    height:100px;
    font-size: 20px;
}

.LoginButton{
    margin-top:90px;
    height:100px;
    font-size: 20px;
    font-family: 'Nimbus Sans D OT 300' , sans-serif;
    color:rgb(94, 94, 94);
}


/*Desktop View*/
@media screen and (min-width: 1024px) {

    .contentHolder{
        background-color: rgb(102, 153, 204);
        width: 50%;
        height: 1100px;
        margin-left: 25%;
    }

    .ItemHolder{
        width:95%;
        height:auto;
        background-color: chartreuse;
        margin-left: 2.5%;
        display: flex;
    }

    .Item1{
        width:50%;
        height: 150px;
        background-color: darkorange;
        display: flex;
        margin-bottom: 20px;
    }
     
}






