.image1 {
    background-image: url("../assets/clarandog.jpg");
    background-attachment: fixed;;
    min-height: 1000px;
    width: auto;
    opacity: 0.6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image2 {
    background-image: url("../assets/dawn.jpg");
    background-attachment: fixed;
    min-height: 1000px;
    width: auto;
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image3 {
    background-image: url("../assets/lsr.jpeg");
    background-attachment: fixed;
    min-height: 1000px;
    width: auto;
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image4 {
    background-image: url("../assets/peak.jpg");
    background-attachment: fixed;
    min-height: 1000px;
    width: auto;
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image5 {
    background-image: url("../assets/peak2.jpeg");
    background-attachment: fixed;
    min-height: 1000px;
    width: auto;
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
        max-width: 100%;
    }
}


